.mainBackground {
    background: linear-gradient(45deg, #e66465, #9198e5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80vh;
}

.homeHeader {
    position: fixed;
    width: 90%;
    left: 21%;
    font-size: 34px;
    font-family: var(--font);
    top: 170px;
    color: white;
}

.homeInfoContainer {
    position: fixed;
    width: 17%;
    height: 50%;
    left: 21%;
    font-size: 17px;
    font-family: var(--font);
    top: 250px;
    color: white;
    /* background: rgba(0,0,0,0.5); */
}

.homeDesc {
    position: relative;
    /* width: 400px; */
    width: calc(70% + 140px);
    /* height: 50%; */
    /* left: 22%; */
    font-size: 17px;
    font-family: var(--font);
    /* top: 0250px; */
    color: white;
    margin-bottom: 7%;
}

.homeTryButton {
    outline: none;
    border: none;
    padding: 0;

    position: relative;
    width: 80%;
    height: 8%;
    /* left: 22%; */
    font-size: 15px;
    font-family: var(--font);
    /* top: 400px; */
    color: white;
    background: rgb(153,148,212);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.homeTryButton:hover {
    background: rgb(138, 132, 202);
    transition: 0.3s;
}

.imagePreview {
    width: 40%;
    position: absolute;
    left: calc(35% + 140px);
    top: 280px;
    border-radius: 10px;
}

.imagePreview2 {
    width: 40%;
    position: absolute;
    left: calc(35% + 155px);
    top: 295px;
    border-radius: 10px;
    /* border: 1px solid rgba(0,0,0,0.2); */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}