.sidebarText {
    font-family: var(--font);
    font-size: 13px;
}

.userBackground {
    position: absolute;
    width: calc(100vw - 220px);
    height: 100vh;
    left: 230px;
    /* background: rgba(0,0,0,0.5); */
}

.userHeader {
    position: absolute;
    left: 3.5%;
    top: 1%;
    font-size: 30px;
    font-family: var(--font);
    padding: 0.5%;
    /* background: rgba(0,0,0,0.5); */
}

.headerUI {
    position: absolute;
    left: 89%;
    top: 3.5%;
    font-size: 30px;
    font-family: var(--font);
    padding: 0.5%;
    /* background: rgba(0,0,0,0.5); */
}

.filesBackground {
    /* background: rgba(0,0,0,0.5); */
    position: absolute;
    top: 10%;
    width: 92%;
    left: 3.5%;
    height: 10%;
}